.question  {
    color: rgb(250, 3, 250);
    font-size: 3em;
    margin-bottom: .3em;
    text-align: center;
    text-decoration: underline;
    border-style: double;
    border-width: 20px;    
    background-color: #ff96bc;
  }
  body {
    font-family: 'Indie Flower';font-size: 22px;
    
  }
