#header {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;

    justify-items: center;
    align-items: center;
}

#circles{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-items: center;
    justify-items: center;

  
}

.circle > a > img {
    width: 150px;
    height: 150px;
}



slogan {
    background-image: url('./public/images/awesome-confetti-background.gif');
    background-size: contain;
    text-align: center;
    font-family:"Indie Flower";
    font-size: 8vw;
    border-color: black;
    border-style: groove;
    border-radius: 30px;    object-fit: cover;
}

#Learn{
    grid-column: 1 / 2;    
}

#Fun{
    grid-column: 4 / 5;
}
#Logo  {
    grid-column: 2 / 4;
}

#Logo > img {
    width: auto;
    border-color: black;
    border-style: ridge;
    border-radius: 35%;
    background-image: url('./public/images/awesome-confetti-background.gif');
    background-size: contain;
}


